<p id="notice"><%= notice %></p>

<h1>My Visas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_visas.each do |my_visa| %>
      <tr>
        <td><%= my_visa.title %></td>
        <td><%= my_visa.body %></td>
        <td><%= link_to 'Show', my_visa %></td>
        <td><%= link_to 'Edit', edit_my_visa_path(my_visa) %></td>
        <td><%= link_to 'Destroy', my_visa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Visa', new_my_visa_path %>
